<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%- pagename %> </title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
       <%-include('includes/navs')%>
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto">
                        <div class="text-center mb-3">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        </div>
                        <h2 class="mb-5 form-h2 text-center">Create an account to receive updates!</h2>
                          <% JSON.stringify(errors) %>
                            <% if (typeof(errors) == true) { %>
                            <span><%='Sign Up Success' %></span>
                            <% } %>  
                          
                            <% if(typeof(errors) != "undefined") {%>
                        
                            <form class="bg-light rounded p-4" method="POST" action="/registration">
                             
                          <div class="form-row">
                            <div class="form-group col-md-8">
                                <label class="form-label" for="fName">First Name</label>
                                <input type="text" class="form-control" name="fName" placeholder="First Name">
                                
                          
                                
                                <span><%= errors.fNameMsg %></span>

                           

                                <label class="form-label" for="lName">Last Name</label>
                                <input type="text" class="form-control" name="lName" placeholder="Last Name">
                                <%= errors.lNameMsg %>
                            </div>
                            <div class="form-group col-md-8">
                              <label class="form-label" for="userEmail">Email</label>
                              <input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="Enter Your Email"> <%= errors.emailMsg %> 
                            </div>
                            <div class="form-group col-md-8">
                              <label class="form-label" for="userPassword">Password</label>
                              <input type="password" class="form-control" name="userPassword" placeholder="Password">
                              <%= errors.passwordMsg %>
                            </div>
                              <div class="form-group col-md-8">
                              <label class="form-label" for="userPassMatch">Re-Enter Password</label>
                              <input type="password" class="form-control" name="userPassMatch" placeholder="Re-Enter Password"> <%= errors.passMatchMsg %>
                            </div>
                          </div>
                          <div class="form-group col-md-10">
                            <label class="form-label" for="userAddress">Address</label>
                            <input type="text" class="form-control" name="userAddress" placeholder="1234 Main St">
                            <%= errors.addressMsg %>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-4">
                              <label class="form-label" for="userCity">City</label>
                              <input type="text" class="form-control" name="userCity">
                              <%= errors.cityMsg %>
                            </div>
                            <div class="form-group col-md-4">
                              <label class="form-label" for="userState">State</label>
                              <input name="userState" class="form-control">
                              <%= errors.stateMsg %> 
                            </div>
                            <div class="form-group col-md-2 mb-4">
                              <label class="form-label" for="userZip">Zip</label>
                              <input type="text" class="form-control" name="userZip">
                              <%= errors.zipMsg %> 
                            </div>
                          </div>

                          <button type="submit" class="btn btn-primary">Sign Up!</button>
                        </form>
                        <% }else{%>
                            
                            <form class="bg-light rounded p-4" method="POST" action="/registration">
                             
                          <div class="form-row">
                            <div class="form-group col-md-8">
                                <label class="form-label" for="fName">First Name</label>
                                <input type="text" class="form-control" name="fName" placeholder="First Name">
                                
                                <label class="form-label" for="lName">Last Name</label>
                                <input type="text" class="form-control" name="lName" placeholder="Last Name">
                                
                            </div>
                            <div class="form-group col-md-8">
                              <label class="form-label" for="inputEmail">Email</label>
                              <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Enter Your Email">  
                            </div>
                            <div class="form-group col-md-8">
                              <label class="form-label" for="inputPassword">Password</label>
                              <input type="password" class="form-control" name="inputPassword" placeholder="Password">
                             
                            </div>
                              <div class="form-group col-md-8">
                              <label class="form-label" for="inputPassword2">Re-Enter Password</label>
                              <input type="password" class="form-control" name="inputPassword2" placeholder="Re-Enter Password"> 
                            </div>
                          </div>
                          <div class="form-group col-md-10">
                            <label class="form-label" for="inputAddress">Address</label>
                            <input type="text" class="form-control" name="inputAddress" placeholder="1234 Main St">
                           
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-4">
                              <label class="form-label" for="inputCity">City</label>
                              <input type="text" class="form-control" name="inputCity">
                            
                            </div>
                            <div class="form-group col-md-4">
                              <label class="form-label" for="inputState">State</label>
                              <input name="inputState" class="form-control">
                            
                            </div>
                            <div class="form-group col-md-2 mb-4">
                              <label class="form-label" for="inputZip">Zip</label>
                              <input type="text" class="form-control" name="inputZip">
                             
                            </div>
                          </div>

                          <button type="submit" class="btn btn-primary">Sign Up!</button>
                        </form>
                        <% } %>
                            
                    </div>
                </div>
            </div>
        </section>
      
        <!-- Footer-->
        <%-include('includes/footer') %>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
       
    </body>
</html>
